<main role="main" class="container">
  <div class="card card-body">
    <form  autocomplete="off" class="row">
      <div class="col-12 col-lg-7">
        <input  [formControl]="phoneNumber" class="form-control form-input-phonenumber mr-sm-2 " placeholder="Please enter a valid 7 or 10 digit phone number. eg. 1234567891" type="text" required>
      </div>
      <div class="col-12 col-lg-3"><button class="btn btn-lg btn-primary btn-block mt-3 mt-md-0 animate-up-2"
        (click)="onSubmitForm()" [disabled]="!phoneNumber.valid">Generate</button></div>
    </form>
  </div>
</main>